.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.transactions{
  width: 70%;
  margin: 20px;
}
.breakdown{
  width: 30%;
  margin: 20px;
}
.operations{
  width: 80%;
  margin: 20px;
  text-align: start !important;
  display: grid;
  gap: 10px;

}
.category{
  margin:5px;
  padding: 10px;
  text-align: start !important;
  color: #54AEB7 !important;

}
.title{
  color: #3C7B82;
  text-align: start;
}

.green{
  color: green !important;
}
.red{
  color: red !important;
}
.withdraw{
  color: darkred;
  background-color: lightpink;
}
.deposit{
  color: darkgreen;
  background-color: lightgreen;
}

